.logoStyles {
  color: #c7ae6a !important;
}

.menu-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
}

.rotate-icon {
  transform: rotate(180deg);
}

.navDiv {
  /* border-bottom: 1px solid #2c2c2c; */
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  background-color: unset !important;
  transition: background-color 0.2s ease-in-out;
}

.navDiv1 {
  border-bottom: 1px solid#e5e5e5;
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  background-color: white !important;
  transition: background-color 0.5s ease-in-out;
}

.nav-link:focus,
.nav-link:hover {
  color: #5171f1;
}

.sidebarMob {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 350px;
  background: #5171f1;
  color: white;
  opacity: 1;
  transform: none;
}

.menu_text_style {
  cursor: pointer;
  color: #c0c0c0;
  font-weight: 700;
}

.menu_text_style1 {
  cursor: pointer;
  color: black;
  font-weight: 700;
}

.mobile_menu_text {
  color: white;
  font-size: 16px !important;
  font-weight: 700;
}

.mobile_menu {
  padding: 0;
  list-style-type: none;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: unset;
}
