::-webkit-scrollbar {
  width: 1px !important;
  height: 6px !important;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--blue-main);
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--blue-main);
  border-radius: 0;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-track {
  background: #fff;
}

p,
li,
div {
  font-family: "Anek Devanagari", sans-serif;
  color: #0e2431;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anek Devanagari", sans-serif;
  color: #0e2431;
  font-weight: bold;
}

li {
  font-size: 16px;
  color: #0e2431;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: #0e2431;
  font-weight: 500;
}

.pt-6 {
  padding-top: 5rem !important;
}
.pb-6 {
  padding-bottom: 5rem !important;
}

.fs-6 {
  font-size: 14px !important;
}

.fs-7 {
  font-size: 16px !important;
}

.fs-8 {
  font-size: 32px !important;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 16px !important;
    line-height: 26px !important;
  }
}

.my-button {
  padding: 13px 40px 10px 40px;;
  border: none;
  background: #5171f1;
  color: white;
  border-radius: 22px;
}

.my-button-text {
  margin-top: 2px;
}

input:-webkit-autofill {
  appearance: menulist-button;
  background-image: none !important;
  background-color: #3a3a3a !important;
  transition: background-color 5000s ease-in-out 0s;
}

.containerDiv2 {
  background-color: #f8f8f8 !important;
  width: 100%;
  max-width: fit-content;
}

.containerDiv1 {
  width: 100%;
  max-width: fit-content;
}

.p-6 {
  padding: 5rem !important;
}

.px-6 {
  padding: 6rem 6rem !important;
}

.px-7 {
  padding: 5rem 2rem !important;
}

.list-styles {
  /* color: #c0c0c0; */
  padding: 0rem 1rem;
}

.miui-icon-styles {
  width: 2rem !important;
  height: auto !important;
}

.text-justify{
  text-align: justify;
}
