::-webkit-scrollbar {
  width: 1px !important;
  height: 6px !important;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--blue-main);
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--blue-main);
  border-radius: 0;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-track {
  background: #fff;
}

p,
li,
div {
  font-family: "Anek Devanagari", sans-serif;
  color: #0e2431;
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anek Devanagari", sans-serif;
  color: #0e2431;
  font-weight: bold;
  cursor: default;
}

li {
  font-size: 16px;
  color: #0e2431;
  cursor: default;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: #0e2431;
  font-weight: 500;
  cursor: default;
}

.pt-6 {
  padding-top: 5rem !important;
}
.pb-6 {
  padding-bottom: 5rem !important;
}

.fs-6 {
  font-size: 14px !important;
}

.fs-7 {
  font-size: 16px !important;
}

.fs-8 {
  font-size: 32px !important;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 16px !important;
    line-height: 26px !important;
    cursor: default;
  }
}

.my-button {
  padding: 13px 40px 10px 40px;
  border: none;
  background: #5171f1;
  color: white;
  border-radius: 22px;
}

.my-button-text {
  margin-top: 2px;
}

input:-webkit-autofill {
  appearance: menulist-button;
  background-image: none !important;
  background-color: #3a3a3a !important;
  transition: background-color 5000s ease-in-out 0s;
}

.containerDiv2 {
  background-color: #f8f8f8 !important;
  width: 100%;
}

.containerDiv1 {
  width: 100%;
}

.p-6 {
  padding: 5rem !important;
}

.px-6 {
  padding: 6rem 6rem !important;
}

.px-7 {
  padding: 5rem 2rem !important;
}

.list-styles {
  /* color: #c0c0c0; */
  padding: 0rem 1rem;
}

.miui-icon-styles {
  width: 3rem !important;
  height: auto !important;
}

.text-justify {
  text-align: justify;
}





.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0px 0px;
}
/* .overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
} */
.card-image{
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}