::-webkit-scrollbar {
  width: 1px !important;
  height: 6px !important;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--blue-main);
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--blue-main);
  border-radius: 0;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-track {
  background: #fff;
}

.bg-body-tertiary {
  background-color: #000000 !important;
}

p,
li,
div {
  font-family: Roboto, sans-serif;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  color: white;
  font-weight: bold;
}

li {
  font-size: 18px;
  color: white;
}

p {
  font-size: 16px;
  line-height: 22px;
  color: white;
}

.pt-6 {
  padding-top: 5rem !important;
}
.pb-6 {
  padding-bottom: 5rem !important;
}

.fs-6 {
  font-size: 14px !important;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 16px !important;
    line-height: 26px !important;
  }
}

.my_button {
  padding: 10px 40px;
  border: none;
  background: #657b81bf;
}