.backgroundImageStyles {
  align-items: center;
  background-attachment: fixed;
  background-image: url(../../assets/images/slider11.webp);
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: 1490px;
  display: flex;
  height: 100vh;
  isolation: isolate;
  justify-content: flex-start;
  padding: 0 100px;
  position: relative;
}

.taglineStyles {
  font-size: 26px;
}

@media (max-width: 768px) {

  /* Styles for small screens */
  .backgroundImageStyles {
    padding: 0px 20px;
    background-size: 1610px;
    background-position: 98%;
  }
}

.backgroundImageStyles :after {
  background: #000000;
  content: "";
  inset: 0;
  opacity: 0.18;
  position: absolute;
  z-index: -1;
}