.experience-heading {
  font-size: 32px !important;
  color: #5171f1;
}

.number-div {
  display: flex;
  justify-content: center;
  padding: 0px;
  /* margin-right: 2rem !important; */
}

.number-text {
  color: #5171f1;
  height: 40px;
  margin-top: 4px !important;
}

.role-styles {
  color: #5171f1;
}

.experience-desc {
  font-size: 18px;
  line-height: 26px;
  color: #0e2431;
  font-weight: 500;
}
